.form__input-error{
    max-height: 30px;
    display: inline-block;
    margin:0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    width: 363px;
    text-align: left;
    min-height: 30px;
}

.form__fieldset-url{
    margin-bottom: 33px;
}

@media screen and (max-width:660px) {
    .form__input-error{
        width:240px;
    }
}