.element__basket{
    width: 18px;
    height: 19px;
    background-color:rgba(0, 0, 0, 0);
    border:none;
    background: url(../../../img/basket.svg) no-repeat;
    background-size: 18px 19px;
    cursor: pointer;
    background-position: center;
    position: absolute;
    top: 20px;
    right: 20px;
}
.element__basket:hover{
    opacity: 0.5;
}

.element__basket:active{
    opacity: 1;
}