.popup__input{
    outline: none;
    border: none;
    width: 358px;
    margin: 0 auto;
    min-height: 28px;
    border-bottom:1px solid rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 30px;
}
.popup__input:first-child{
  margin-top: 0;
}
.popup__input:focus{
    outline: none;
}

.popup__input:active{
    outline: none;
}

@media screen and (max-width:660px) {
    .popup__input{
        width: 238px;
    }
}