.popup__container{
    max-width: 430px;
    min-height: 330px;
    background-color:white;
    border-radius:10px;
    position: relative;
    margin:auto;
    margin-top: 195px;
}

@media screen and (max-width:660px) {
    .popup__container{
        max-width: 282px;
        min-height: 322px;
        padding-bottom: 25px;
    }
}