.profile{
     max-width: 880px;
     min-height: 150px;
     margin: 0 auto;
     padding-top: 40px;
     display: grid;
     grid-template-columns: 127px 1fr 1fr;
     grid-template-areas: 
     "profile__avatar profile__info  profile__add-btn";
     column-gap:0;
     row-gap: 0;
}

@media screen and (max-width:630px) {
     .profile{
          max-width: 320px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
     }
}
