.profile{
     box-sizing:border-box;
     max-width: 880px;
     min-height: 120px;
     margin: 40px auto auto auto;
     display: grid;
     grid-template-columns: auto 335px 1fr;
     grid-template-areas: 
     "profile__avatar profile__info  profile__add-btn";
     column-gap:26.5px;
     row-gap: 0;
}


@media screen and (max-width:800px) {
     .profile{
          max-width: 320px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
          grid-template-columns: none;
     }
}
