.profile__info{
    margin: 0 auto;
    grid-area: profile__info;
    position: relative;
    justify-self: center;
    padding-top: 22px;
    min-width: 330px;
}

@media screen and (max-width:630px) {
    .profile__info{
        justify-self: auto;
        margin: 0;
        padding-top: 22px;
    }
}
