.popup__zoom_container{
    box-sizing: border-box; 
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: fit-content;
    margin: 90px auto 90px auto;
    align-self: center;
}