.form__fieldset{
    border: none;
    margin: 0 auto;
    min-height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 358px;
}

.form__fieldset:first-child{
    padding-top: 13px;
    padding-bottom: 0;
}

@media screen and (max-width:660px) {
    .form__fieldset{
        width: 234px;
        min-height: 15px;
    }
}